In [30]:
from pandas_datareader import data
import datetime

In [31]:
type(data.DataReader)

function

In [48]:
#stock symbols are symbols of companies with which they are listed in any stock exchange
#for example Apple Inc. is listed as AAPL in New York stock exchange
#you can get the data of stocks of the company for each day

In [56]:

start=datetime.datetime(2016,3,1)
end=datetime.datetime(2016,3,10)
type(data.DataReader(name="AAPL",data_source="iex",start=start,end=end))

pandas.core.frame.DataFrame

In [57]:
df=data.DataReader(name="AAPL",data_source="iex",start=start,end=end)
df

               open     high      low    close    volume
date
2016-03-01  92.3713  95.3226  92.1537  95.0956  50407147
2016-03-02  95.0767  95.4362  94.2537  95.3037  33169560
2016-03-03  95.1429  96.2117  95.0199  96.0132  36955742
2016-03-04  96.8362  98.1415  95.8902  97.4416  46055100
2016-03-07  96.8551  97.2713  95.5024  96.3632  35915810
2016-03-08  95.3321  96.2591  94.9726  95.5686  31561889
2016-03-09  95.8334  96.0889  94.8497  95.6537  27201683
2016-03-10  95.9280  96.7132  94.7362  95.7010  33513577

In [58]:
df=data.DataReader(name="GOOG",data_source="iex",start=start,end=end)
df

              open      high     low   close   volume
date
2016-03-01  703.62  718.8100  699.77  718.81  2151419
2016-03-02  719.00  720.0000  712.00  718.85  1629003
2016-03-03  718.68  719.4500  706.02  712.42  1957974
2016-03-04  714.99  716.4900  706.02  710.89  1972077
2016-03-07  706.90  708.0912  686.90  695.16  2988026
2016-03-08  688.59  703.7900  685.34  693.97  2076331
2016-03-09  698.47  705.6800  694.00  705.24  1421515
2016-03-10  708.12  716.4400  703.36  712.82  2833525